button {
  background-color: grey; /* Green */
  border: none;
  color: black;
  padding: 11px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 10px;
  font-family: arial;
  
  
}