h2{
  	display: none;

 }

 @media only screen and (min-width: 720px){
 	body{
 		background: #f1f1f1; 		
 	}

 	p{
		display: inline;
	}
 }

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 11px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
